body {
  padding-left: 10vh;
  padding-right: 10vh;
  background-color: #FED5AF;
}

.MapTalk{
  font-family: 'Fugaz One', cursive;
  text-align: center;
  font-size: 60px;
  color: #614341;
}
.FinishSquare{
  height: 40vh;
  width: 60vw;
  background-color: #FAF3F3;
  
}

.FirstLang{
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-weight: 400;
}

.SecondLang{
  font-family: 'Inter', sans-serif;
  color: #8A8785;
  font-weight: 400;
}
